*{
    justify-content: center;
}
p{
    color: tomato;
}
#left{
    background-color:blue;
    width: fit-content;
    height:fit-content;
    display:inline-flex;
    color: black;
    padding:20px;
    display: flex;
    justify-content: center;
}

#right{
    background-color:red;
    width: 600px;
    height:500px;
    display:inline-flex;
    margin-top:20px;
    margin-left:10px;
    color: white;
    padding:20px;
}
#ball{
    display: flex;
    flex-direction: column;

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color:black;
}
